# txt files created for IO labs
*.txt

# Misc
*.DS_Store

# Compiled classes
*.class

# Intellij stuff
/out/
.idea

# Private Directories (leave at bottom of this file so more can be appended as projects are added)
/Lab_1_2/nbproject/private/
/Lab_2_2/nbproject/private/
/Lab_3_1/nbproject/private/
/Lab_3_2/nbproject/private/
/Lab_4_1/nbproject/private/
/Lab_4_2/nbproject/private/
/Lab_5_1/nbproject/private/
/Lab_5_2/nbproject/private/
/Lab_6_1/nbproject/private/
/Lab_6_2/nbproject/private/
/Lab_7_1/nbproject/private/
/Lab_7_2/nbproject/private/
/Lab_8_1/nbproject/private/
/Lab_8_2/nbproject/private/
/Lab_9_1/nbproject/private/
/Lab_9_2/nbproject/private/
/Lab_10/nbproject/private/
/Class_Work_1/nbproject/private/
/Lab_11/nbproject/private/
/Lab_11_02/nbproject/private/
